
.ho:hover{
    color: rgb(3, 4, 1) !important;
    transition: color 0.3s ease, transform 0.3s ease !important;
}


.gf{
  background: linear-gradient(to right ,#082d41 ,  #2a7299);
-webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}
.tc{
  color: #07B9D5;
}

pre {
  white-space: pre-wrap;  
  word-break: break-word; 
}

.cursor-pointer {
  cursor: pointer !important;
}

